@keyframes play3 {
	from {background-position:0px;}
	to {background-position:-308px;}
}

@-webkit-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-moz-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-ms-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-o-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}