#explosao1 {
	width:15px;
	height:87px;
	position:absolute;

}

#explosao2 {
	width:15px;
	height:87px;
	position:absolute;
	
}

//Explosão do amigo
#explosao3 {
	width:44px;
	height:51px;
	position:absolute;
}
