@use "animations";

#inimigo1 {
	width: 256px;
	height: 66px;
	position: absolute;
	left: 689px;
	top: 253px;
	background-image:url(../imgs/inimigo1.png);
	
}

.anima2 {
    background-image:url(../imgs/inimigo1.png);
    animation: play .5s steps(2) infinite;
    @include animations.prorietary-plays;
}