@use "animations";

#jogador {
	width:256px;
	height:66px;
	position:absolute;
	left:8px;
	top:179px;
    background-image:url(../imgs/apache.png);
}

.anima1 {
	background-image:url(../imgs/helicoptero.png);
	animation:play .5s steps(2) infinite;
    @include animations.prorietary-plays;
}